body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #006400;
}


#gameContainer {
    text-align: center;
    padding: 20px;
    border: 2px solid #222;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


h1 {
    font-size: 3em;
    color: #FF4500;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
    font-family: 'Luckiest Guy';
}


#subtitle {
    font-size: 1.2em;
    color: #FFD700;
    font-style: italic;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

#cards-el, #sum-el {
    font-size: 1.5em;
    
    color: #FFF;
    margin: 10px 0;
}


button {
    font-size: 1.2em;
    padding: 10px 20px;
    color: white;
    background-color: #FFA500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: #FF8C00;
}

button:active {
    background-color: #FF7F50;
    transform: scale(0.98);
}
